doctype html
html
	head
		title Оценка сотрудников и аллокация ресурсов по проектам
		meta(charset="utf-8")
		meta(http-equiv="cache-control" content="max-age=0")
		meta(http-equiv="cache-control" content="no-cache")
		meta(http-equiv="expires" content="0")
		meta(http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT")
		meta(http-equiv="pragma" content="no-cache")

		meta(name='robots', content='index,follow')
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(property='og:title', content='')
		meta(property='og:site_name', content='')
		meta(property='og:url', content='')
		meta(property='og:description', content='')
		meta(property='og:image', content='https://md.dasreda.ru/img/metapic.png')
		link(rel='apple-touch-icon', sizes='57x57', href='favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='favicon/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='favicon/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='favicon/favicon-16x16.png')
		link(rel='manifest', href='favicon/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='favicon/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')

		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet")

	body
		#root
		script(src="/vendor.bundle.js?v=" + version)
		script(src="/bundle.js?v=" + version)