


body {

	.main-container {
		padding-top: 20px;
		min-height: 80vh;
	}

	.container-catalog {
		
		.products {
			margin-top: 40px;
			
			.product {
				padding: 0 30px;
				
				.main-image {
					height: 210px;
					
					img {
						display: block;
		    			margin: auto;
					}
				}

				.name {
					font-size: 18px;
					margin-top: 10px;
					font-weight: bold;
				}

				.label-tag {
					background-color: #777;
					display: inline;
				    padding: .2em .6em .3em;
				    line-height: 1;
				    color: #fff;
				    text-align: center;
				    white-space: nowrap;
				    vertical-align: baseline;
				    border-radius: .25em;
				}

				.price {
					text-align: right;
					font-size: 18px;
				}

				button {
					display: inline-block;
	    			margin-top: 20px;
	    			color: white;
				}
			}	
		}
	}

	.container-cart {

		h3.text-center {
			margin-bottom: 40px;
		}
		
		.table-cart {
			
			img {
				width: 100px;
				max-width: 100%;
			}

			.vertical-center {
				vertical-align: middle;
				
				input {
					display: inline-block;
					width: auto;
				}
			}	
		}
	}
}
