

.navbar {
	min-height: 10vh;

	.navbar-brand {

		img {
			height: 40px;
		}
	}

	&.navbar-light {

		.navbar-nav {

			.nav-link {
				
				&.on {
					color: rgba(0, 0, 0, 0.9);
				}
			}
		}
	}

	.profile-widget {
		
		> li {

			a {
				color: inherit;
				cursor: pointer;
			}

			&:first-child {
				margin-right: 15px;

				a {
					padding: 0;
				}
			}

			.label-cart {
				display: inline;
			    padding: .2em .6em .3em;
			    line-height: 1;
			    color: #fff;
			    text-align: center;
			    white-space: nowrap;
			    vertical-align: baseline;
			    border-radius: 1em;
			    background-color: #025aa5;
			    border-color: #01549b;
			    margin: 0 5px 0 10px;
			}
		}
	}
}

.footer {
	min-height: 10vh;
	line-height: 10vh;
}