.editable-list{

	//border-top: 1px solid #eee;
	//border-radius: 3px;
	margin-top: 5px;
	
	.editable-list-item{
		display: flex;

		border-bottom: 1px solid #eee;
		padding: 5px;

		&:first-of-type {
			padding: 5px 0;
			border-bottom: none;
		}

		&:last-of-type {
			//border-bottom: none;
		}
	}

	a,
	button {
		margin-left: 5px;
	}

	.btn-block {
		margin-left: 0;
	}

	input, 
	.editable-list-item-label {
		flex: 1;
	}

	input {
		border-radius: 2px;
		border: 1px solid #ccc;
		padding: 2px 5px;
	}
}