
$placeholder-color: #777;
$placeholder-font-size: 12px;

.form-control::-webkit-input-placeholder { color: $placeholder-color; font-size: $placeholder-font-size; }
.form-control:-moz-placeholder { color: $placeholder-color; font-size: $placeholder-font-size; }
.form-control::-moz-placeholder { color: $placeholder-color; font-size: $placeholder-font-size; }
.form-control:-ms-input-placeholder { color: $placeholder-color; font-size: $placeholder-font-size; }
.Select-placeholder { color: $placeholder-color; font-size: $placeholder-font-size; }


.react-datepicker__input-container {
  position: relative;
  width: 100%;
  margin-bottom: -4px;
}

.form-ymd-container {

	position: relative;

	.input-group > .input-group-addon {
		@include border-left-radius(3px);
		border-color: #CCCCCC;
	}


	&.hidden-component{
		&:after,
		.form-ymd-component {
			display: none;
		}
	}

	&:after {
		@include rotate(45deg);
		content: "";
		display: block;
		width: 15px;
		height: 15px;
		background-color: #ccc;
		position: absolute;
		top: 48px;
		left: 12px;
		border-radius: 1px;
		//box-shadow: 0 0 2px rgba(0, 0, 0, .35);
		z-index: 2;

		
	}

	.floatl__label.control-label {
		left: 45px;
	}

	.has-error .help-block {
		color: red;
	}

	.form-ymd-component {

		position: absolute;
		top: 50px;
		left: 0;
		background-color: #fff;
		width: 250px;
		padding: 0;
		overflow: hidden;
		border-radius: 3px;
		//box-shadow: 1px 2px 2px rgba(0, 0, 0, .35);
		z-index: 1000;

		border: 1px solid #ccc;


		.DayPicker {
			&:focus {
				outline: none;
			}
		}

		.DayPicker-Caption {
			display: table-caption;
	    height: 35px;
	    line-height: 35px;
	    text-align: right;
		}

		.DayPicker-NavBar {
			padding-top: 11px;
			height: 35px;
			line-height: 35px;
			width: 55px;
		}

		.DayPicker-Day{
			padding: 8px 10px;
			&:focus {
				outline: none;
			}

			&:first-child {
				border-left: 0;
			}
		}

		.DayPicker-Week {

		}


		select {
			@include appearance(none);
			&:focus {
				outline: none;
			}
			padding: .5rem 1rem .5rem 2rem;
			display: inline-block;
			border: 0; 
			border-radius: 0;
			background-color: transparent;
			margin: -10px auto 10px auto;
			margin: 0 auto;
			margin-top: -25px;
			width: auto;
			&.form-ymd-component-year {
				width: 30%;
			}

			&.form-ymd-component-month {
				width: 50%;
			}
			background-position: .75rem;
			background-repeat: no-repeat;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjEycHgiIGhlaWdodD0iMTJweCIgdmlld0JveD0iMCAwIDEyIDEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMy4wMDAwMDAsIDAuMDAwMDAwKSIgZmlsbD0iIzU2NUE1QyI+CiAgICAgICAgICAgIDxwb2x5Z29uIHBvaW50cz0iMy41IDAgNyA1IDAgNSAiPjwvcG9seWdvbj4KICAgICAgICAgICAgPHBhdGggZD0iTTAsNyBMNyw3IEwzLjUsMTIgTDAsNyBaIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
		}




	}
	
}

.form-toggle-container {
	position: relative;
	height: 45px;

	.form-toggle {
		display: block;	
		position: absolute;
		top: 0;
		left: 0;
	}

	.form-toggle-label {
		display: block;
		position: absolute;
		left: 60px;
		top: 0;
		font-weight: bold;
	}
}


.form-yesno-container {
	position: relative;
	height: 45px;

	.btn:last-child{
		border-left: 1px solid #ddd;
	}

	.form-yesno {
		display: block;	
		position: absolute;
		top: 0;
		left: 0;
	}

	.form-yesno-label {
		display: block;
		position: absolute;
		left: 90px;
		top: 5px;
		font-weight: bold;
	}
}




.form-control {

	&.form-toggle {
		background-color: transparent;
	}

	&:not(.form-toggle) {
		&:hover {
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
		}
	}

	&[readonly] {
		background-color: #fefefe;
	}
	
}

fieldset[disabled] {
	cursor: $cursor-disabled;

	.form-control.form-toggle {
		background-color: #fff;
	}

	.react-toggle-thumb {
		background-color: #eee;
		cursor: $cursor-disabled;
	}

	.react-toggle-track {
		cursor: $cursor-disabled;
	}

	.Select-control {
		background-color: #eee;
		cursor: $cursor-disabled;
	}
	
	label {
		cursor: $cursor-disabled;
	}
	
}

.fieldset {
	padding: 15px 10px 0 10px;
	border-radius: $border-radius-base;	
	margin-bottom: 10px;
	background-color: #f6f6f6;

	.title {
		border-bottom: 1px solid $border-color;
		margin: -10px 0 10px 0;
		padding: 5px 3px;
		font-weight: 700;
	}

	&.odd {
		background-color: #eee;
	}

	&.even {
		background-color: #eee;
	}
}