$order-default-status-color: #bbb;

.ibox.orders {

	padding: 0;
	min-width: 465px;

	.ibox-content {
		padding: 0;
		//flex: 1;
	}

	.ibox-title {
		//box-shadow: 0px 0px 1px #ccc;
	}
}


.ibox.order-details {

	ul {
		padding-left: 20px;
	}

	.ibox-title {
		//box-shadow: 0px 0px 1px #ccc;
	}

	.ibox-content {

		position: relative;

		.order-status-container {
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 10px;
			z-index: 100;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.order-status {
				border: 1px solid #ccc;
				border-left: 5px solid #ccc;
				padding: 2px 7px;
				font-weight: bold;
				box-shadow: 0 0 1px hsla(360, 0%, 50%, .2);
			}

			.order-status-change-reason {
				padding: 2px 7px;
			}
		}

	}
	
}

.ibox {

	
	.order-container {

		@mixin overflow-hidden() {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: block;
		}

		border-left: 5px solid $order-default-status-color;
		border-bottom: 1px solid #ddd;
		padding: 10px 20px;
		margin: 0;
		cursor: pointer;
		height: 100%;
		overflow: hidden;

		&.selected,
		&:hover {
			background-color: #F8F6EB;
		}

		&.unread {
			//background-color: #f92;
		}

		.comment-count {

			span.label {
				color: #fff;
				background-color: #bbb;
			}

			span.label-warning {
				background-color: #f92;
			}

			span.label-success {
				background-color: hsla(215, 70%, 50%, 1);
			}
		}

		.row {
			margin-top: 5px;
		}


		.order-partner {
			font-size: 16px;
			color: #262626;
			font-weight: bold;
			@include overflow-hidden();
		}

		.order-status-name {
			font-size: 10px;
			color: $order-default-status-color;
			//@include overflow-hidden();
		}

		.order-status-info {
			margin-top: 0px;
			font-size: 16px;
			@include overflow-hidden();
		}

		.order-date,
		.order-aside {
			color: #A7A7A7;
    	font-size: 11px;
		}

		.order-date {
			font-size: 10px;
		}


	}


	.comments {
		.comment {
			padding: 5px;
			border-top: 1px solid #eee;

			&:hover {
				.comment-meta{
					color: #333;
				}
			}

			.comment-meta{
				display: flex;
				align-items: flex-end;
				margin-top: 5px;
				font-size: 70%;
				color: #ccc;

				> div { padding-right: 5px; }
			}

			// .comment-date{
			// 	padding: 0 10px;
			// }

			// .comment-author{
			// 	padding: 0 10px 0 0;
			// }
		}


	}


}


