// .rv-header,
// .rv-even-row,
// .rv-odd-row { 
//   border-bottom: 1px solid #e0e0e0;
// }

// .rv-odd-row {
//   background-color: #fafafa;
// }

// FlexTable	Main (outer) element
// FlexTable__headerColumn	Header cell (similar to thead > tr > th)
// FlexTable__headerRow	Header row (similar to thead > tr)
// FlexTable__headerTruncatedText	Element within header cell responsible for truncating text
// FlexTable__row	Table row (akin to tbody > tr)
// FlexTable__rowColumn	Table column (akin to tbody > tr > td)
// FlexTable__sortableHeaderColumn	Applied to header columns that are sortable
// FlexTable__sortableHeaderIcon	SVG sort indicator
// FlexTable__truncatedColumnText	Element within table column responsible for truncating text


.FlexTable {
	font-size: 12px;
	color: #676f6c;
	font-family: 'open sans';
	font-size: 13px;
}

.Grid__cell {

		.FlexTable__row {
			border-bottom: 1px solid #e0e0e0;
		}

		&:nth-child(odd) {
			.FlexTable__row {
				background-color: #fafafa;	 
			}
		}
		
		&:nth-child(even){
			.FlexTable__row {
				background-color: #fff;	 
			}
		}

		.selected {
		//:hover {
			&.FlexTable__row {
				background-color: #eee;	 
			}
		}

		:hover {
			&.FlexTable__row {
				background-color: #fe9;	 
			}
		}
}

.FlexTable__headerColumn {
	text-transform: none;

	&.checkbox,
	&.checkbox:first-of-type {
		width: 25px;
		padding: 0 5px;
		margin-left: 0px;
	}
}

.Grid.FlexTable__Grid,
.Grid.VirtualScroll {
	outline: none;

	&:focus {
		outline: none;
	}
}


.FlexTable__headerRow {
	border-bottom: 1px solid #e0e0e0;
}

.FlexTable__row{
	outline: none;

	.fa-check-square {
		color: $blue;
	}

	.fa-square-o {
		color: #999;
	}
}

.FlexTable__rowColumn {


	&.checkbox,
	&.checkbox:first-of-type {
		padding: 0 10px 0 10px;
		//text-align: center; //causes blured lines
		margin-left: 0px;
		border-right: 1px solid #eee;
	}

}

/*editor error animate*/
/*@import "~toastr/build/toastr.min.css";*/

.react-bs-table-container .react-bs-table-search-form {
	margin-bottom: 0px;
}

.react-bs-table {
	border: 1px solid #ddd;
	//border-bottom: none;
	border-radius: 3px;
}

.react-bs-table table {
	margin-bottom: 0px;
	table-layout: fixed;
}

.react-bs-table table td,
.react-bs-table table th {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.react-bs-table {
	//margin: 5px 10px 5px 10px;
	//margin: 5px;
}

.react-bs-table-pagination {
	margin: 10px;
}

.react-bs-table-tool-bar {
	margin: 10px 10px 0px 10px;
}

.react-bs-container-header {
	overflow: hidden;
	width: 100%;
}

.react-bs-container-body {
	/*height: 154px;*/
	overflow: auto;
	width: 100%;
}

.table-bordered {
		border: 0px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
	border-top-width: 1px;
}
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
	border-bottom-width: 0px;
}
/*Esquerda*/
.table-bordered > thead > tr > th:first-child,
.table-bordered > tbody > tr > th:first-child,
.table-bordered > tfoot > tr > th:first-child,
.table-bordered > thead > tr > td:first-child,
.table-bordered > tbody > tr > td:first-child,
.table-bordered > tfoot > tr > td:first-child {
	border-left-width: 0px;
}
/*Direita*/
.table-bordered > thead > tr > th:last-child,
.table-bordered > tbody > tr > th:last-child,
.table-bordered > tfoot > tr > th:last-child,
.table-bordered > thead > tr > td:last-child,
.table-bordered > tbody > tr > td:last-child,
.table-bordered > tfoot > tr > td:last-child {
	border-right-width: 0px;
}
/*Topo*/
.table-bordered > thead > tr:first-child > th,
.table-bordered > thead > tr:first-child > td {
	border-top-width: 0px;
}
/*Baixo*/
.table-bordered > tfoot > tr:last-child > th,
.table-bordered > tfoot > tr:last-child > td {
	border-bottom-width: 0px;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th {
	vertical-align: middle;
}
.react-bs-table .react-bs-container-header > table > thead > tr > th .filter{
	font-weight: normal;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter option[value=''],
.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected,
.react-bs-table .react-bs-container-header > table > thead > tr > th .filter::-webkit-input-placeholder,
.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input::-webkit-input-placeholder{
	color: lightgrey;
	font-style: italic;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected option:not([value='']) {
	color: initial;
	font-style: initial;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter {
	display: flex;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-input {
	margin-left: 5px;
	float: left;
	width: calc(100% - 67px - 5px);
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-comparator,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-comparator {
	width: 67px;
	float: left;
}

.react-bs-table .react-bs-container-header .sort-column,
.react-bs-table td {
	cursor: pointer;
}

.react-bs-table tr,
.react-bs-table th {
	border: none;
}

/*inline editor default style*/
.react-bs-container .form-control.editor{
	/*width:100%;
	top:0;
	left:0;*/
	/*height: 100%;
	position: absolute;*/
}

.react-bs-container  .textarea-save-btn{
	position: absolute;
	z-index: 100;
	right: 0;
	top: -21px;
}

.react-bs-table-no-data {
	text-align: center;
}

